* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    background-color: #40f5ece3;
    height: 160px;
    flex-basis: 100vw;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

li {
    display: inline;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
}

.flex-nav {
    display: flex;
    background-color: #f4b643;
    flex-basis: 60%;
    margin: 0 4rem;
    height: 80px;
}

.fn-child1 {
    flex-basis: 20%;
}

.fn-child2 {
    flex-basis: 60%;
    text-align: center;
    line-height: 80px;
    vertical-align: middle;
}

.fn-child3 {
    flex-basis: 20%;
}
